* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
}

header div img {
    max-width: 150PX;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
box-shadow: 1px 1px 10px 1px rgb(19, 19, 255);
}

header ul{
    display: flex;
}

header ul li{
    padding: 8px;
}

ul {
    list-style: none;
    font-style: italic;
}

a {
    text-decoration: none;
    font-weight: 400;
}

body {
    /*    background-image: url(./Background.png);
    background-repeat: no-repeat;
    background-position: center center fixed; */
    background: black no-repeat center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
}

.container .name h1 {
    font-size: 45px;
    }

.container .name h5 {
    font-size: 22px;
    }

#about p {
    max-width: 600px;
    margin: 0 auto;
}

.form {
    width: 40%;
    margin: 0 auto;
}

.form input {
    width: 50%;
}

form button {
    width: 15%;
}